<template>
  <div class="page-container">
    <md-button @click="toggleMenu" v-if="!menuVisible" style="position: fixed; top: 0; z-index: 100; left: -15px; width: 50px;">
      <md-icon>menu</md-icon>
    </md-button>
    <md-app>
      <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini">
      
        <md-toolbar class="md-transparent" md-elevation="0">
          <span>Navigation</span>

          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button md-dense" @click="toggleMenu">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-list>
          <router-link to="/" tag="md-list-item">
            <md-icon>apps</md-icon>
              <span class="md-list-item-text" >Collection</span>
          </router-link>
          <router-link to="/play" tag="md-list-item">
            <md-icon>play_arrow</md-icon>
              <span class="md-list-item-text" >Play Game</span>
          </router-link>
          <router-link to="/online" tag="md-list-item">
            <md-icon>cloud</md-icon>
              <span class="md-list-item-text" >Connect to Server</span>
          </router-link>
          <router-link to="/settings" tag="md-list-item">
            <md-icon>settings</md-icon>
              <span class="md-list-item-text" >Settings</span>
          </router-link>
          <md-list-item @click="closeApp">
            <md-icon>close</md-icon>
            <span class="md-list-item-text" >Close Game</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view></router-view>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
const remote = require("electron").remote;
const fs = require("fs");
const { app } = require("electron").remote;

export default {
  data: () => ({
    menuVisible: false
  }),
  methods: {
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    },
    closeApp() {
      let window = remote.getCurrentWindow();
      window.close();
    }
  },
  beforeCreate() {
    this.$store.dispatch("loadCoreSet");
    let homeDir = app.getPath("home");
    if (!fs.existsSync(`${homeDir}/StarCommander`)){
      fs.mkdirSync(`${homeDir}/StarCommander`);
    }
  }
};
</script>

<style scoped>
.md-app {
  min-height: 100vh;
}
</style>