<template>
  <div class="md-layout">
    <div class="md-layout-item">
      <md-content class="md-scrollbar" style="height:95vh; overflow-y: scroll; overflow-x: hidden">
        <table>
          <tr>
            <th>Faction</th>
            <th>Name</th>
            <th>Type</th>
            <th>Cost</th>
            <th>Stats</th>
            <th>Rules</th>
          </tr>
          <tr v-for="(card, index) in sets[0].Cards" :key="index" @mouseover="onHover(card.Image)" @click="addCard(card)">
            <td>{{card.Faction}}</td>
            <td>{{card.Name}}</td>
            <td>{{card.Type}}</td>
            <td>{{card.Cost}}</td>
            <td>{{printStats(card)}}</td>
            <td style="width: 300px;">{{card.Rules}}</td>
          </tr>
        </table>
      </md-content>
    </div>
    <div class="md-layout-item md-size-20">
      <div>
        <div style="float: left;">
          <md-menu md-direction="bottom-start">
            <md-button md-menu-trigger><md-icon>menu</md-icon></md-button>

            <md-menu-content>
              <md-menu-item @click="loadDeck">Load Deck</md-menu-item>
              <md-menu-item @click="saveDeck">Save Deck</md-menu-item>
              <md-menu-item @click="currentDeck = []">Reset Deck</md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <h4 style="text-align: center;">Current Deck ({{currentDeck.length}})</h4>
        <md-content class="md-scrollbar" style="height: 38vh; overflow-y: auto; padding-left: 10px">
          <strong v-if="displayCurrentDeck.Ships.length > 0">Ships</strong>
          <ul>
            <li v-for="el in displayCurrentDeck.Ships" :key="el.index" @mouseover="onHover(el.card.Image)" @click="currentDeck.splice(el.index, 1)">{{el.card.Name}} - {{el.count}}</li>
          </ul>
          <strong v-if="displayCurrentDeck.Stations.length > 0">Stations</strong>
          <ul>
            <li v-for="el in displayCurrentDeck.Stations" :key="el.index" @mouseover="onHover(el.card.Image)" @click="currentDeck.splice(el.index, 1)">{{el.card.Name}} - {{el.count}}</li>
          </ul>
          <strong v-if="displayCurrentDeck.Commands.length > 0">Commands</strong>
          <ul>
            <li v-for="el in displayCurrentDeck.Commands" :key="el.index" @mouseover="onHover(el.card.Image)" @click="currentDeck.splice(el.index, 1)">{{el.card.Name}} - {{el.count}}</li>
          </ul>
          <strong v-if="displayCurrentDeck.Maneuvers.length > 0">Maneuvers</strong>
          <ul>
            <li v-for="el in displayCurrentDeck.Maneuvers" :key="el.index" @mouseover="onHover(el.card.Image)" @click="currentDeck.splice(el.index, 1)">{{el.card.Name}} - {{el.count}}</li>
          </ul>
          <strong v-if="displayCurrentDeck.Research.length > 0">Research</strong>
          <ul>
            <li v-for="el in displayCurrentDeck.Research" :key="el.index" @mouseover="onHover(el.card.Image)" @click="currentDeck.splice(el.index, 1)">{{el.card.Name}} - {{el.count}}</li>
          </ul>
          <strong v-if="displayCurrentDeck.Planets.length > 0">Planets</strong>
          <ul>
            <li v-for="el in displayCurrentDeck.Planets" :key="el.index" @mouseover="onHover(el.card.Image)" @click="currentDeck.splice(el.index, 1)">{{el.card.Name}} - {{el.count}}</li>
          </ul>
        </md-content>
      </div>
      <div style="position: absolute; width: 19%; bottom: 0;">
        <img :src="currentCard" style="margin: 2%;">
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import _ from "lodash";
import fs from "fs";
const { app, dialog } = require("electron").remote;

export default {
  data: () => ({
    homeDir: app.getPath("home"),
    saveDeckDialog: false,
    currentCard: "./cards/back.jpg",
    currentDeck: []
  }),
  computed: {
    ...mapState(["sets"]),
    displayCurrentDeck() {
      let returnDeck = {
        Ships: [],
        Stations: [],
        Commands: [],
        Maneuvers: [],
        Research: [],
        Planets: []
      };

      this.currentDeck.forEach((card, index) => {
        switch (card.Order) {
          case 0:
            if (
              returnDeck.Ships.filter(e => e.card.Name === card.Name).length <=
              0
            ) {
              returnDeck.Ships.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Ships.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 1:
            if (
              returnDeck.Stations.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Stations.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Stations.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 2:
            if (
              returnDeck.Commands.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Commands.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Commands.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 3:
            if (
              returnDeck.Maneuvers.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Maneuvers.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Maneuvers.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 4:
            if (
              returnDeck.Research.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Research.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Research.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 5:
            if (
              returnDeck.Planets.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Planets.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Planets.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
        }
      });
      return returnDeck;
    }
  },
  methods: {
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    },
    printStats(card) {
      if (
        ["Frigate", "Cruiser", "Battleship", "Station"].some(el =>
          card.Type.includes(el)
        )
      )
        return `Atk: ${card.Attack} | Shield: ${card.Shield} | Hull: ${
          card.Hull
        }`;
      if (card.Type.includes("Planet"))
        return `Loyalty: ${card.Loyalty} | Credits: +${
          card.Credits
        } | Production: +${card.Production}`;
    },
    onHover(img) {
      this.currentCard = `./cards/core-v1/${img}`;
    },
    addCard(card) {
      this.currentDeck.push(card);
      this.sortCurrentDeck();
    },
    sortCurrentDeck() {
      this.currentDeck.forEach(card => {
        if (
          ["Frigate", "Cruiser", "Battleship"].some(el =>
            card.Type.includes(el)
          )
        )
          card.Order = 0;
        if (card.Type.includes("Station")) card.Order = 1;
        if (card.Type.includes("Command")) card.Order = 2;
        if (card.Type.includes("Maneuver")) card.Order = 3;
        if (card.Type.includes("Research")) card.Order = 4;
        if (card.Type.includes("Planet")) card.Order = 5;
      });
      this.currentDeck = _.orderBy(
        this.currentDeck,
        ["Order", "Name"],
        ["asc", "asc"]
      );
    },
    saveDeck() {
      dialog.showSaveDialog(
        {
          defaultPath: this.homeDir + "/StarCommander/new-deck.starcom",
          filters: [{ name: "StarCom Deck File", extensions: ["starcom"] }]
        },
        loc => {
          // const content = JSON.stringify(this.currentDeck);
          let content = [];
          this.currentDeck.forEach(card => {
            content.push({ Set: 0, ID: card.ID });
          });
          fs.writeFile(loc, JSON.stringify(content), err => {
            if (err) throw err;
            console.log("File saved successfully");
          });
        }
      );
    },
    loadDeck() {
      dialog.showOpenDialog(
        {
          defaultPath: `${this.homeDir}/StarCommander/`,
          properties: ["openFile"],
          filters: [{ name: "StarCom Deck File", extensions: ["starcom"] }]
        },
        file => {
          fs.readFile(file[0], (err, data) => {
            if (err) throw err;
            let fileContents = JSON.parse(data);
            let thisDeck = [];
            fileContents.forEach(card => {
              let key = this.sets[card.Set].Cards.find(el => {
                return el.ID == card.ID;
              });
              thisDeck.push(key);
            });
            this.currentDeck = thisDeck;
            this.sortCurrentDeck();
          });
        }
      );
    }
  }
};
</script>

<style scoped>
th,
td,
li {
  user-select: none;
  cursor: pointer;
}

tr:hover {
  background: #333;
}
</style>