<template>
  <div class="play-phases">
    <md-steppers :md-active-step.sync="active" md-vertical md-linear>
      <md-step id="first" md-label="Ready Phase" :md-done.sync="first" :md-editable="false">
      </md-step>

      <md-step id="second" md-label="Command Phase" :md-done.sync="second" :md-editable="false">
      </md-step>

      <md-step id="third" md-label="Combat Phase" :md-done.sync="third" :md-editable="false">
      </md-step>

      <md-step id="fourth" md-label="End Phase" :md-done.sync="fourth" :md-editable="false">
      </md-step>
    </md-steppers>
    <md-button class="next-phase" style="background: rgb(0, 0, 75);" @click="nextPhase">Next Phase 
      <md-icon>navigate_next</md-icon>
    </md-button>
    <md-content class="md-scrollbar chatbox">
      <div class="chatbox-inner">
        <div v-for="(message, index) in messageLog" :key="index">{{message}}</div>
      </div>
    </md-content>
  </div>
</template>

<script>
export default {
  props: [
    "startNextPhase",
    "active",
    "ActivePlayer",
    "ThisPlayer",
    "first",
    "second",
    "third",
    "fourth",
    "messageLog"
  ],
  methods: {
    nextPhase() {
      if (this.ActivePlayer == this.ThisPlayer) {
        switch (this.active) {
          case "first":
            this.startNextPhase("command");
            break;
          case "second":
            this.startNextPhase("combat");
            break;
          case "third":
            this.startNextPhase("end");
            break;
          case "fourth":
            this.startNextPhase("nextTurn");
            break;
          case "nextTurn":
            this.startNextPhase("ready");
            break;
        }
      }
    }
  }
};
</script>

<style scoped>
.play-phases {
  overflow: hidden;
  /* text-align: center; */
  /* height: 96vh; */
  float: right;
  width: 250px;
}

.chatbox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  width: 245px;
  height: 48vh;
  overflow: auto;
  margin-left: 7px;
}

.chatbox-inner {
  height: 48vh;
  background: #000;
}

.chatbox-inner div {
  background: #000;
}
</style>
