<template>
  <div>
    <div class="md-layout">
      <div class="md-layout-item lobbyOption" @click="initHost">
        <span class="lobbyControl">
          <h1>Host Game</h1>
        </span>
      </div>
      <div class="md-layout-item lobbyOption" @click="initJoin">
        <span class="lobbyControl">
          <h1>Join Game</h1>
        </span>
      </div>
    </div>
    <div class="controls">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="md-layout">
            <div class="md-layout-item">
              <md-field>
                <label>Player Name</label>
                <md-input v-model="username"></md-input>
                <span class="md-helper-text">Your player name will be visible to your opponent</span>
              </md-field>
              <md-button @click="loadDeck">Load Deck</md-button>
            </div>
            <div class="md-layout-item">
              <h4 style="text-align: center;">Current Deck ({{currentDeck.length}})</h4>
              <md-content class="md-scrollbar" style="background: inherit; height: 23vh; overflow-y: auto; padding-left: 10px">
                <strong v-if="displayCurrentDeck.Ships.length > 0">Ships</strong>
                <ul>
                  <li v-for="el in displayCurrentDeck.Ships" :key="el.index">{{el.card.Name}} - {{el.count}}</li>
                </ul>
                <strong v-if="displayCurrentDeck.Stations.length > 0">Stations</strong>
                <ul>
                  <li v-for="el in displayCurrentDeck.Stations" :key="el.index">{{el.card.Name}} - {{el.count}}</li>
                </ul>
                <strong v-if="displayCurrentDeck.Commands.length > 0">Commands</strong>
                <ul>
                  <li v-for="el in displayCurrentDeck.Commands" :key="el.index">{{el.card.Name}} - {{el.count}}</li>
                </ul>
                <strong v-if="displayCurrentDeck.Maneuvers.length > 0">Maneuvers</strong>
                <ul>
                  <li v-for="el in displayCurrentDeck.Maneuvers" :key="el.index">{{el.card.Name}} - {{el.count}}</li>
                </ul>
                <strong v-if="displayCurrentDeck.Research.length > 0">Research</strong>
                <ul>
                  <li v-for="el in displayCurrentDeck.Research" :key="el.index">{{el.card.Name}} - {{el.count}}</li>
                </ul>
                <strong v-if="displayCurrentDeck.Planets.length > 0">Planets</strong>
                <ul>
                  <li v-for="el in displayCurrentDeck.Planets" :key="el.index">{{el.card.Name}} - {{el.count}}</li>
                </ul>
              </md-content>
            </div>
          </div>
        </div>
        <div class="md-layout-item">
          <ul>
            <li v-for="(game, index) in games" :key="index" :class="isGameSelected(game)" style="cursor: pointer;" @click="selectGame(game)">{{game}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

const fs = require("fs");
const { app, dialog } = require("electron").remote;
const dgram = require("dgram");
let client = dgram.createSocket("udp4");

client.on("listening", () => {
  // let address = client.address(); // Relevent?
  client.setBroadcast(true);
});

client.bind(3001);

export default {
  data() {
    return {
      username: "",
      currentDeck: [],
      games: [],
      ipToJoin: ""
    };
  },
  props: ["readyToPlay", "initPlayer", "startHost", "joinGame"],
  computed: {
    ...mapState(["sets"]),
    ready: {
      get() {
        return this.readyToPlay;
      },
      set(value) {
        this.$emit("update:readyToPlay", value);
      }
    },
    displayCurrentDeck() {
      let returnDeck = {
        Ships: [],
        Stations: [],
        Commands: [],
        Maneuvers: [],
        Research: [],
        Planets: []
      };

      this.currentDeck.forEach((card, index) => {
        switch (card.Order) {
          case 0:
            if (
              returnDeck.Ships.filter(e => e.card.Name === card.Name).length <=
              0
            ) {
              returnDeck.Ships.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Ships.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 1:
            if (
              returnDeck.Stations.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Stations.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Stations.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 2:
            if (
              returnDeck.Commands.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Commands.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Commands.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 3:
            if (
              returnDeck.Maneuvers.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Maneuvers.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Maneuvers.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 4:
            if (
              returnDeck.Research.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Research.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Research.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
          case 5:
            if (
              returnDeck.Planets.filter(e => e.card.Name === card.Name)
                .length <= 0
            ) {
              returnDeck.Planets.push({ index, card, count: 1 });
            } else {
              let key = returnDeck.Planets.find(el => {
                return el.card.Name === card.Name;
              });
              key.count++;
            }
            break;
        }
      });
      return returnDeck;
    }
  },
  methods: {
    loadDeck() {
      dialog.showOpenDialog(
        {
          defaultPath: `${this.homeDir}/StarCommander/`,
          properties: ["openFile"],
          filters: [{ name: "StarCom Deck File", extensions: ["starcom"] }]
        },
        file => {
          fs.readFile(file[0], (err, data) => {
            if (err) throw err;
            let fileContents = JSON.parse(data);
            let thisDeck = [];
            fileContents.forEach(card => {
              let key = this.sets[card.Set].Cards.find(el => {
                return el.ID == card.ID;
              });
              thisDeck.push(key);
            });
            this.currentDeck = thisDeck;
            this.sortCurrentDeck();
          });
        }
      );
    },
    sortCurrentDeck() {
      this.currentDeck.forEach(card => {
        if (
          ["Frigate", "Cruiser", "Battleship"].some(el =>
            card.Type.includes(el)
          )
        )
          card.Order = 0;
        if (card.Type.includes("Station")) card.Order = 1;
        if (card.Type.includes("Command")) card.Order = 2;
        if (card.Type.includes("Maneuver")) card.Order = 3;
        if (card.Type.includes("Research")) card.Order = 4;
        if (card.Type.includes("Planet")) card.Order = 5;
      });
      this.currentDeck = _.orderBy(
        this.currentDeck,
        ["Order", "Name"],
        ["asc", "asc"]
      );
    },
    selectGame(game) {
      this.ipToJoin = game;
    },
    isGameSelected(game) {
      if (game == this.ipToJoin) return "gameIsSelected";
      else return "";
    },
    initHost() {
      if (this.username.length <= 0 || this.currentDeck.length <= 0) return;
      this.initPlayer(1, this.username, this.currentDeck);
      this.startHost();
      this.ready = true;
    },
    initJoin() {
      if (this.username.length <= 0 || this.currentDeck.length <= 0) return;
      if (this.ipToJoin.length > 0) {
        this.initPlayer(2, this.username, this.currentDeck);
        this.joinGame(this.ipToJoin);
        this.ready = true;
      }
    }
  },
  beforeMount() {
    client.on("message", (message, rinfo) => {
      if (message == "displayGame") {
        let key = this.games.findIndex(el => {
          return el == rinfo.address;
        });

        if (key == -1) {
          this.games.push(rinfo.address);
        }
      }
      if (message == "removeGame") {
        let key = this.games.findIndex(el => {
          return el == rinfo.address;
        });

        if (key != -1) {
          this.games.splice(key, 1);
        }
      }
      //console.log(`Message from: ${rinfo.address}:${rinfo.port} - ${message}`);
    });
  }
};
</script>


<style scoped>
.lobbyOption {
  height: 60vh;
  background: black;
  margin: 20px;
  cursor: pointer;
  user-select: none;
}

.lobbyOption:hover {
  background: #222;
}

.controls {
  width: 100hh;
  margin: 20px;
  background: #222;
  height: 29vh;
}

h1 {
  display: inline-block;
  vertical-align: middle;
}

.lobbyControl {
  padding: 25vh 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.gameIsSelected {
  background: rgb(0, 0, 75);
}
</style>
