<template>
  <div :style="isActivePlayer">
    <h2 style="text-align: center;">{{Player.Name}}</h2>
    <div class="md-layout" style="clear: both;">
      <div class="md-layout-item">
        Credits: {{Player.Credits}}
      </div>
      <div class="md-layout-item">
        Production: {{Player.Production}}
      </div>
    </div>
    Hand: {{Player.Hand.length}} <br />
    Deck: {{Player.Deck.length}} <br />
    Discard: {{Player.Discard.length}} <br />
    Research: <i v-if="Player.Research.length == 0">Nothing researched</i>
    <ul>
      <li v-for="(research, index) in Player.Research" :key="index">Research goes here.</li>
    </ul>
    <hr />
  </div>
</template>

<script>
export default {
  props: ["Player", "loadDeck", "ActivePlayer"],
  computed: {
    isActivePlayer() {
      if (this.Player.ID == this.ActivePlayer) {
        if (this.Player.ID == 1) {
          return {
            background: "rgb(75, 0, 0)"
          }
        } else {
          return {
            background: "rgb(0, 0, 75)"
          }
        }
      }
      }
    }
  }
</script>

<style scoped>
.md-layout-item {
  text-align: center;
}

a {
  cursor: pointer;
  font-style: italic;
  color: white !important;
}

a:hover {
  color: #ccc !important;
}
</style>
