<template>
  <md-content class="play-hand md-scrollbar">
    <div class="hand-card"
          v-for="(card, index) in currentHand" 
          :key="index" 
          :class="card.Type.includes('Planet') ? 'card-planet' : ''" @mouseover="onHover(card.Image)"
          @click="selectCard(index)"
          @contextmenu="toggleContextMenu(index, 'hand', $event)">
      <img :src='`./cards/core-v1/${card.Image}`' :class="isSelected(index)"/>
    </div>
  </md-content>
</template>

<script>
export default {
  props: ["currentHand", "onHover", "selectCard", "SelectedCards", "toggleContextMenu"],
  methods: {
    isSelected(index) {
      let key = this.SelectedCards.findIndex(el => {
        return el == index;
      });
      if (key != -1) return "card-selected";
    }
  }
}
</script>

<style scoped>
.play-hand {
  height: 18.5vh;
  margin: 5px 0 5px 315px;
  text-align: center;
  overflow: auto;
}

.play-hand img {
  height: 18.5vh;
  margin-right: 5px;
}

.hand-card {
  display: inline-block;
}

.card-planet {
  transform: rotate(-90deg);
}

.card-planet img {
  width: 18.5vh;
  height: auto;
  margin-right: 0;
  margin-bottom: 5px;
}

.card-selected {
  border: 2px solid red;
}
</style>
