<template>
  <div>
    <sc-play-lobby v-if="!readyToPlay" :initPlayer="initPlayer" :readyToPlay.sync="readyToPlay" :startHost="startHost" :joinGame="joinGame" />
    <div v-if="readyToPlay">
      <sc-play-phases :startNextPhase="startNextPhase" 
                      :ActivePlayer="ActivePlayer"
                      :ThisPlayer="ThisPlayer"
                      :active="ActivePhase" 
                      :first="ReadyPhaseDone" 
                      :second="CommandPhaseDone" 
                      :third="CombatPhaseDone" 
                      :fourth="EndPhaseDone" 
                      :messageLog="messageLog" />
      <div class="play-sidebar">
        <sc-play-player v-if="Player2.Name.length > 0" :Player="Player2" :ActivePlayer="ActivePlayer" />
        <sc-play-player v-if="Player1.Name.length > 0" :Player="Player1" :ActivePlayer="ActivePlayer" />
        <button v-if="connected && ThisPlayer == 1" @click="endHost">Close Local Game</button>
        <button v-if="connected && ThisPlayer == 2" @click="leaveGame">Leave Game</button>
        <div style="position: absolute; width: 287px; bottom: 2vh;">
          <img :src="currentCard" style="margin: 2%;">
        </div>
      </div>
      <div class="play-row">
        <div class="md-layout">
          <sc-play-system :System="Systems[8]" :onHover="onHover" :toggleContextMenu="toggleContextMenu" />
        </div>
      </div>
      <div class="play-row">
        <div class="md-layout">
          <sc-play-system :System="Systems[7]" :onHover="onHover" :toggleContextMenu="toggleContextMenu" />
          <sc-play-system :System="Systems[6]" :onHover="onHover" :toggleContextMenu="toggleContextMenu" />
        </div>
      </div>
      <div class="play-row">
        <div class="md-layout">
          <sc-play-system :System="Systems[5]" :onHover="onHover" :toggleContextMenu="toggleContextMenu" />
          <sc-play-system :System="Systems[4]" :onHover="onHover" :toggleContextMenu="toggleContextMenu" />
          <sc-play-system :System="Systems[3]" :onHover="onHover" :toggleContextMenu="toggleContextMenu" />
        </div>
      </div>
      <div class="play-row">
        <div class="md-layout">
          <sc-play-system :System="Systems[2]" :onHover="onHover" :toggleContextMenu="toggleContextMenu" />
          <sc-play-system :System="Systems[1]" :onHover="onHover" :toggleContextMenu="toggleContextMenu" />
        </div>
      </div>
      <div class="play-row">
        <div class="md-layout">
          <sc-play-system :System="Systems[0]" :onHover="onHover" :toggleContextMenu="toggleContextMenu" />
        </div>
      </div>
      <sc-play-hand :currentHand="currentHand" :onHover="onHover" :selectCard="selectCard" :SelectedCards="SelectedCards" :toggleContextMenu="toggleContextMenu" />
      <div v-if="openContextMenu" class="context-menu" :style="contextCoordinates">
        <md-list>
          <md-list-item v-for="(option, index) in currentContext" :key="index" @click="option.Action">
            {{option.Text}}
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
</template>

<script>
import PlayLobby from "./PlayLobby.vue";
import PlayPlayer from "./PlayPlayer.vue";
import PlayPhases from "./PlayPhases.vue";
import PlaySystem from "./PlaySystem.vue";
import PlayHand from "./PlayHand.vue";

import { mapState } from "vuex";
import moment from "moment";

const { ipcRenderer } = require("electron");
const { dialog } = require("electron").remote;
const fs = require("fs");

import io from "socket.io-client";

export default {
  data() {
    return {
      readyToPlay: false,
      socket: null,
      connected: false,
      messageLog: [],
      currentCard: "./cards/back.jpg",
      openContextMenu: false,
      contextLocation: "",
      contextCoordinates: {},
      SelectedCards: [],
      ThisPlayer: 0,
      ActivePlayer: 0,
      ActivePhase: "first",
      ReadyPhaseDone: false,
      CommandPhaseDone: false,
      CombatPhaseDone: false,
      EndPhaseDone: false,
      Player1: {
        ID: 1,
        Name: "",
        DeckLoaded: false,
        Deck: [],
        Discard: [],
        Hand: [],
        Research: [],
        Credits: 0,
        Production: 0
      },
      Player2: {
        ID: 2,
        Name: "",
        DeckLoaded: false,
        Deck: [],
        Discard: [],
        Hand: [],
        Research: [],
        Credits: 0,
        Production: 0
      },
      Systems: [
        {
          ID: 0,
          Card: null,
          ControlledBy: null,
          Player1Fleet: [],
          Player2Fleet: [],
          Style: {},
          Function: () => {
            return false;
          }
        },
        {
          ID: 1,
          Card: null,
          ControlledBy: null,
          Player1Fleet: [],
          Player2Fleet: [],
          Style: {},
          Function: () => {
            return false;
          }
        },
        {
          ID: 2,
          Card: null,
          ControlledBy: null,
          Player1Fleet: [],
          Player2Fleet: [],
          Style: {},
          Function: () => {
            return false;
          }
        },
        {
          ID: 3,
          Card: null,
          ControlledBy: null,
          Player1Fleet: [],
          Player2Fleet: [],
          Style: {},
          Function: () => {
            return false;
          }
        },
        {
          ID: 4,
          Card: null,
          ControlledBy: null,
          Player1Fleet: [],
          Player2Fleet: [],
          Style: {},
          Function: () => {
            return false;
          }
        },
        {
          ID: 5,
          Card: null,
          ControlledBy: null,
          Player1Fleet: [],
          Player2Fleet: [],
          Style: {},
          Function: () => {
            return false;
          }
        },
        {
          ID: 6,
          Card: null,
          ControlledBy: null,
          Player1Fleet: [],
          Player2Fleet: [],
          Style: {},
          Function: () => {
            return false;
          }
        },
        {
          ID: 7,
          Card: null,
          ControlledBy: null,
          Player1Fleet: [],
          Player2Fleet: [],
          Style: {},
          Function: () => {
            return false;
          }
        },
        {
          ID: 8,
          Card: null,
          ControlledBy: null,
          Player1Fleet: [],
          Player2Fleet: [],
          Style: {},
          Function: () => {
            return false;
          }
        }
      ]
    };
  },
  computed: {
    ...mapState(["sets"]),
    whoAmI() {
      if (this.ThisPlayer == 1) return this.Player1;
      else return this.Player2;
    },
    currentHand() {
      let Player = this.whoAmI;
      return Player.Hand;
    },
    currentContext() {
      let contextMenu = [];
      let Player = this.whoAmI;
      switch (this.contextLocation) {
        case "hand":
          Player.Hand[this.SelectedCards[0]].HandContext.forEach(context => {
            let newItem = {};
            newItem.Text = context.Text;
            switch (context.Action) {
              case "build":
                newItem.Action = () => {
                  this.initBuildShipOrStation();
                };
                break;
              case "explore":
                newItem.Action = () => {
                  this.initPlayPlanet();
                };
                break;
            }
            contextMenu.push(newItem);
          });
          break;
        case "play":
          if (this.ThisPlayer == 1) {
            this.Systems[this.SelectedCards[0].System].Player1Fleet[
              this.SelectedCards[0].Card
            ].PlayContext.forEach(context => {
              let newItem = {};
              newItem.Text = context.Text;
              switch (context.Action) {
                case "move":
                  newItem.Action = () => {
                    this.initMoveShip();
                  };
                  break;
              }
              contextMenu.push(newItem);
            });
          } else {
            this.Systems[this.SelectedCards[0].System].Player2Fleet[
              this.SelectedCards[0].Card
            ].PlayContext.forEach(context => {
              let newItem = {};
              newItem.Text = context.Text;
              switch (context.Action) {
                case "move":
                  newItem.Action = () => {
                    this.initMoveShip();
                  };
                  break;
              }
              contextMenu.push(newItem);
            });
          }
      }
      return contextMenu;
    }
  },
  methods: {
    startHost() {
      // Check that the server has started.
      if (ipcRenderer.sendSync("initGameServer")) {
        // Connect to the game server.
        this.socket = io("http://localhost:3000");
        // Initialize sockets to listen for.
        this.initSockets();
      }
    },
    joinGame(ip) {
      // Connect to provided IP address for game.
      this.socket = io(`http://${ip}:3000`);
      // Initialize sockets to listen for.
      this.initSockets();
    },
    initPlayer(id, name, deck) {
      this.ThisPlayer = id;
      let Player = this.whoAmI;

      Player.Name = name;
      Player.Deck = this.shuffleDeck(deck);
      this.drawStartingHand();
    },
    initSockets() {
      let Player = this.whoAmI;

      // Log messages on player screen.
      // Currently not very interesting.
      this.socket.on("chat message", msg => {
        this.messageLog.unshift(`${moment().format("h:mm:ss a")} - ${msg}`);
      });

      // Sync initial player state (name, deck, hand, etc.)
      this.socket.on("fetchInitPlayerState", () => {
        this.connected = true;
        this.socket.emit("updateGameState", {
          Where: `player${this.ThisPlayer}`,
          Data: Player
        });
      });

      this.socket.on("drawOpeningHands", () => {
        this.drawStartingHand();
      });

      // Sync game state with the server.
      // Will trigger after each state change.
      this.socket.on("syncGameState", GameState => {
        this.ActivePlayer = GameState.ActivePlayer;
        this.ActivePhase = GameState.ActivePhase;
        this.ReadyPhaseDone = GameState.ReadyPhaseDone;
        this.CommandPhaseDone = GameState.CommandPhaseDone;
        this.CombatPhaseDone = GameState.CombatPhaseDone;
        this.EndPhaseDone = GameState.EndPhaseDone;
        this.Player1 = GameState.Player1;
        this.Player2 = GameState.Player2;

        // Systems have an additional state that allows for clicking on them.
        // This cannot sync, and never needs to.
        // Because of that, we can't directly override the client System state,
        // instead applying each item separately.
        this.Systems.forEach((System, i) => {
          System.Card = GameState.Systems[i].Card;
          System.ControlledBy = GameState.Systems[i].ControlledBy;
          System.Player1Fleet = GameState.Systems[i].Player1Fleet;
          System.Player2Fleet = GameState.Systems[i].Player2Fleet;
          System.Style = GameState.Systems[i].Style;
        });
      });
    },
    endHost() {
      // Disconnect from the current game.
      this.leaveGame();

      // Close the server.
      ipcRenderer.sendSync("closeGameServer");
    },
    leaveGame() {
      this.socket.disconnect();
      this.connected = false;
      this.readyToPlay = false;
    },
    isControlled(controller) {
      if (!controller) return "control-none";
      else return `control-${controller}`;
    },
    setDone(id, index) {
      this[id] = true;
      if (index) this.ActivePhase = index;
    },
    startNextPhase(phase) {
      if (this.ActivePlayer == this.ThisPlayer) {
        switch (phase) {
          case "ready":
            this.setDone("EndPhaseDone", "first");
            this.ReadyPhaseDone = false;
            this.CommandPhaseDone = false;
            this.CombatPhaseDone = false;
            this.EndPhaseDone = false;

            this.drawCard();
            break;
          case "command":
            this.setDone("ReadyPhaseDone", "second");
            break;
          case "combat":
            this.setDone("CommandPhaseDone", "third");
            break;
          case "end":
            this.setDone("CombatPhaseDone", "fourth");
            break;
          case "nextTurn":
            this.setDone("EndPhaseDone", "nextTurn");
            if (this.ActivePlayer == 1) this.ActivePlayer = 2;
            else this.ActivePlayer = 1;
            break;
        }
        this.socket.emit("updateGameState", {
          Where: `active`,
          Data: {
            ActivePlayer: this.ActivePlayer,
            ActivePhase: this.ActivePhase,
            ReadyPhaseDone: this.ReadyPhaseDone,
            CommandPhaseDone: this.CommandPhaseDone,
            CombatPhaseDone: this.CombatPhaseDone,
            EndPhaseDone: this.EndPhaseDone
          }
        });
      }
    },
    shuffleDeck(toShuffle) {
      // Standard shuffling algorithm.
      let deck = [...toShuffle];
      let i = 0;
      let j = 0;
      let temp = null;

      for (i = deck.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1));
        temp = deck[i];
        deck[i] = deck[j];
        deck[j] = temp;
      }
      return deck;
    },
    drawStartingHand() {
      // Should only return hands with at least one planet.
      let Player = this.whoAmI;

      let startingHand = [];
      let handHasPlanets = false;
      while (!handHasPlanets) {
        startingHand = [];
        for (let i = 0; i < 7; i++) {
          startingHand.push(Player.Deck[i]);
        }
        startingHand.forEach(card => {
          if (card.Type.includes("Planet")) {
            handHasPlanets = true;
          }
        });
        if (handHasPlanets == false) {
          Player.Deck = this.shuffleDeck(Player.Deck);
        }
      }
      Player.Hand = [...startingHand];
    },
    drawCard() {
      // Draw a card.
      let Player = this.whoAmI;

      let card = Player.Deck.shift();
      Player.Hand.push(card);

      this.socket.emit("updateGameState", {
        Where: `player${this.ThisPlayer}`,
        Data: Player
      });
    },
    selectCard() {
      // Actually does the opposite.
      // Close context menu, remove all selected cards.

      this.openContextMenu = false;
      this.SelectedCards = [];
    },
    toggleContextMenu(index, loc, event) {
      // Opens the context menu on the specified coordinates,
      this.contextLocation = loc;
      this.SelectedCards = [];
      this.SelectedCards.push(index);
      this.contextCoordinates = {
        top: `${event.clientY}px`,
        left: `${event.clientX}px`
      };
      this.openContextMenu = true;
    },
    onHover(img) {
      // Shows larger version of image.
      this.currentCard = `./cards/core-v1/${img}`;
    },
    initPlayPlanet() {
      // Begins process of playing a new system.

      // Close context menu.
      this.openContextMenu = false;

      // Show which systems are available to explore.
      this.Systems.forEach((system, index) => {
        system.Style = {
          border: "2px solid green"
        };

        // Add function to available system to select for exploration.
        system.Function = () => {
          this.playPlanet(index);
        };
      });
    },
    playPlanet(index) {
      // Add planet card to system.

      let Player = this.whoAmI;

      // Reset system options.
      this.Systems.forEach(system => {
        system.Style = {};
        system.Function = () => false;
      });

      // Play card.
      this.Systems[index].Card = Player.Hand[this.SelectedCards[0]];

      // Announce play in chat.
      this.socket.emit(
        "chat message",
        `${Player.Name} explored ${
          Player.Hand[this.SelectedCards[0]].Name
        } in System ${index}`
      );

      // Switch system control to exploring player.
      this.Systems[index].ControlledBy = this.ThisPlayer;

      // Remove card from hand.
      Player.Hand.splice(this.SelectedCards[0], 1);

      // Unselect all cards.
      this.SelectedCards = [];

      // Sync game state.

      this.socket.emit("updateGameState", {
        Where: `player${this.ThisPlayer}`,
        Data: Player
      });
      this.socket.emit("updateGameState", {
        Where: "system",
        Data: this.Systems
      });
    },
    initBuildShipOrStation() {
      // Begin process of building a ship or station.

      // Close context menu.
      this.openContextMenu = false;

      // Show which systems are available to build in.
      this.Systems.forEach((system, index) => {
        if (system.ControlledBy == this.ThisPlayer) {
          system.Style = {
            border: "2px solid green"
          };

          // Add function to allow building ship in system.
          system.Function = () => {
            this.buildShipOrStation(index);
          };
        }
      });
    },
    buildShipOrStation(index) {
      // Build ship or station at selected system.

      let Player = this.whoAmI;

      // Reset system options.
      this.Systems.forEach(system => {
        system.Style = {};
        system.Function = () => false;
      });

      // Add card to player's fleet in system.
      if (this.ThisPlayer == 1) {
        this.Systems[index].Player1Fleet.push(
          Player.Hand[this.SelectedCards[0]]
        );
      } else {
        this.Systems[index].Player2Fleet.push(
          Player.Hand[this.SelectedCards[0]]
        );
      }

      // Announce play in chat.
      this.socket.emit(
        "chat message",
        `${Player.Name} built ${
          Player.Hand[this.SelectedCards[0]].Name
        } in System ${index}`
      );

      // Remove card from player's hand.
      Player.Hand.splice(this.SelectedCards[0], 1);

      // Unselect all cards.
      this.SelectedCards = [];

      // Sync game state.
      this.socket.emit("updateGameState", {
        Where: `player${this.ThisPlayer}`,
        Data: Player
      });
      this.socket.emit("updateGameState", {
        Where: "system",
        Data: this.Systems
      });
    },
    initMoveShip() {
      this.openContextMenu = false;
      let options = [];
      switch (this.SelectedCards[0].System) {
        case 0:
          options = [1, 2];
          break;
        case 1:
          options = [0, 4, 3];
          break;
        case 2:
          options = [0, 5, 4];
          break;
        case 3:
          options = [1, 4, 6];
          break;
        case 4:
          options = [1, 2, 6, 7];
          break;
        case 5:
          options = [2, 7];
          break;
        case 6:
          options = [3, 4, 8];
          break;
        case 7:
          options = [4, 5, 8];
          break;
        case 8:
          options = [6, 7];
          break;
      }
      this.Systems.forEach((system, index) => {
        if (options.includes(index)) {
          system.Style = {
            border: "2px solid green"
          };
          system.Function = () => {
            this.moveShip(index);
          };
        }
      });
    },
    moveShip(index) {
      let Player = this.whoAmI;

      this.Systems.forEach(system => {
        system.Style = {};
        system.Function = () => false;
      });

      if (this.ThisPlayer == 1) {
        this.Systems[index].Player1Fleet.push(
          this.Systems[this.SelectedCards[0].System].Player1Fleet[
            this.SelectedCards[0].Card
          ]
        );

        this.socket.emit(
          "chat message",
          `${Player.Name} moved ${
            this.Systems[this.SelectedCards[0].System].Player1Fleet[
              this.SelectedCards[0].Card
            ].Name
          } to System ${index}`
        );

        this.Systems[this.SelectedCards[0].System].Player1Fleet.splice(
          this.SelectedCards[0].Card,
          1
        );
      } else {
        this.Systems[index].Player2Fleet.push(
          this.Systems[this.SelectedCards[0].System].Player2Fleet[
            this.SelectedCards[0].Card
          ]
        );

        this.socket.emit(
          "chat message",
          `${Player.Name} moved ${
            this.Systems[this.SelectedCards[0].System].Player2Fleet[
              this.SelectedCards[0].Card
            ].Name
          } to System ${index}`
        );

        this.Systems[this.SelectedCards[0].System].Player2Fleet.splice(
          this.SelectedCards[0].Card,
          1
        );
      }
      this.SelectedCards = [];
      this.socket.emit("updateGameState", {
        Where: "system",
        Data: this.Systems
      });
    }
  },
  components: {
    "sc-play-lobby": PlayLobby,
    "sc-play-player": PlayPlayer,
    "sc-play-phases": PlayPhases,
    "sc-play-system": PlaySystem,
    "sc-play-hand": PlayHand
  }
};
</script>


<style scoped>
.play-sidebar {
  line-height: 1.5;
  height: 96vh;
  float: left;
  width: 300px;
  background: #666;
}

.play-row {
  margin: 5px 85px 5px 315px;
}

.context-menu {
  position: absolute;
  border: 1px solid white;
}
</style>
