<template>
  <div class="md-layout-item system" :class="isControlled(System.ControlledBy)">
    <img :src="System.Card == null ? './cards/empty.jpg' : `./cards/core-v1/${System.Card.Image}`" 
          :style="System.Style" @click="System.Function" 
          @mouseover="System.Card == null ? '' : onHover(System.Card.Image)" />
    <div class="fleet-row fleet-top">
      <img v-for="(card, index) in System.Player2Fleet" 
           :key="index" :src="`./cards/core-v1/${card.Image}`" 
           @mouseover="onHover(card.Image)" 
           @contextmenu="toggleContextMenu({System: System.ID, Card: index}, 'play', $event)"
           @click="openContextMenu = false"  />
      <img v-if="System.Player2Fleet.length == 0" :src="'./cards/back.jpg'" style="visibility: hidden;" />
    </div>
    <div class="fleet-row fleet-bottom">
      <img v-for="(card, index) in System.Player1Fleet" 
            :key="index" :src="`./cards/core-v1/${card.Image}`" 
            @mouseover="onHover(card.Image)"
            @contextmenu="toggleContextMenu({System: System.ID, Card: index}, 'play', $event)"
            @click="openContextMenu = false"  />
    </div>
  </div>
</template>

<script>
export default {
  props: ["System", "onHover", "toggleContextMenu"],
  methods: {
    isControlled(controller) {
      if (!controller) return "control-none";
      else return `control-${controller}`;
    }
  }
}
</script>

<style scoped>
.md-layout-item {
  text-align: center;
}

.md-layout-item img {
  height: 13vh;
  margin-top: 1vh;
}

.system {
  height: 15vh;
}

.control-none {
  background: #333;
}

.control-none:hover {
  background: #222;
}

.control-1 {
  background: rgb(75, 0, 0);
}

.control-1:hover {
  background: rgb(124, 0, 0);
}

.control-2 {
  background: rgb(0, 0, 75);
}

.control-2:hover {
  background: rgb(0, 0, 124);
}

.fleet-row {
  text-align: center;
}

.fleet-row img {
  height: 4vh;
}

.fleet-bottom {
  position: relative;
  top: -9vh;
}

.fleet-top {
  position: relative;
  top: -15vh;
}
</style>
